main{
	display: block;
	position: relative;
	width: 100%;
	padding: 5% 0 2%;
	.img-holder{
		margin-top: 3%;
		position: relative;
		.day{
			display: block;
			position: absolute;
			width: 100%;
			top: 60%;
			p{
				color: #ffffff;
				font-family: "Proxima Nova - Semibold";
				font-size: 17px;
				font-weight: 400;
				display: flex;
				justify-content: space-around;
				span{
					font-size: 18px;

					i{
						margin-right: 4px;
					}
				}
			}
		}
	}
	.load-more{
		margin-top: 40px;
		text-align: center;
		a{
			color: #000000;
			font-family: "Proxima Nova";
			font-size: 12px;
			display: inline-block;
			padding: 5px 10px;
			border-radius: 40%;
			border: 1px solid #000000;
			background-color: #fafafa;
		}
	}
}
